@{
    ViewData["Title"] = "Home Page";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">خدمات ما</h1>
    <p class="lead">خدمات و سرویس های ما در سه پنل برای مشتریان تنظیم و تهیه  شده است کلیه اطلاعات در دیتاسنتر آسیاتک نگهداری می شود تا بایشترین سرعت و بهترین دسترسی به مشتریان خدمات ارائه گردد.</p>
</div>

