@model SellerViewModel

@{
    ViewData["Title"] = "جدید";
}

<h3>تامین کننده جدید</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SellerName" class="form-label-group"></label>
                <input asp-for="SellerName" class="form-control" />
                <span asp-validation-for="SellerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company" class="form-label-group"></label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber1" class="form-label-group"></label>
                <input asp-for="PhoneNumber1" class="form-control" />
                <span asp-validation-for="PhoneNumber1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNumber1" class="form-label-group"></label>
                <input asp-for="MobileNumber1" class="form-control" />
                <span asp-validation-for="MobileNumber1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaxNumber" class="form-label-group"></label>
                <input asp-for="FaxNumber" class="form-control" />
                <span asp-validation-for="FaxNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="form-label-group"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-primary" /> |
                <a asp-action="Index"  class="btn btn-secondary">انصراف</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
