@model Unit

@{
    ViewData["Title"] = "حذف";
}

<h3>حذف واحد</h3>

<h5>آیا شما برای حذف این واحد مطمئن هستید؟</h5>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitName)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enabled)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UnitId" />
        <input type="submit" value="حذف" class="btn btn-danger" />  
        <a asp-action="Index" class="btn btn-secondary">انصراف</a>
    </form>
</div>


